@import "tailwindcss";

/* Mendaftarkan font Space Mono ke dalam sistem Tailwind v4 */
@theme {
  --font-mono: var(--font-space-mono);
}

/* Reset Paksa */
html, body {
  margin: 0;
  padding: 0;
  background-color: #09090b;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}